@import '~styles/settings.scss';

.switch {
  height: auto;
  cursor: pointer;
}

.slider {
  border-radius: 3px !important;
  width: 15px;
  min-width: 15px;
  height: 15px;
  background-color: $white;
  border: 1px solid $link-water;
  top: 3px;
}

input:checked ~ .slider {
  background-color: $dark-blue;
  border: none;
}

.label {
  color: $theme-color;
  opacity: 0.5;
  margin-left: 4px;
  font-family: $font-family-1;
  font-size: $font-size;
  font-weight: $font-weight;
}

input:checked ~ .label {
  opacity: 1;
  font-family: $font-family-1;
  font-size: $font-size;
  font-weight: $font-weight;
}

.slider::before {
  content: "";
  background-color: $white;
  height: 0;
  position: absolute;
  width: 0;
  display: none;
}

input:checked ~ .slider::before {
  content: "\2714";
  display: block;
  color: white;
  left: -10px;
  top: 0;
  font-size: $font-size-xs;
}
