@import '~styles/settings.scss';
@import '~styles/layout.scss';

$dropdown-min-width: 265px;

.container {
  @include columns();

  @media #{$tablet-landscape} {
    padding-left: $gutter-padding;
  }
}

.toolbox {
  display: flex;
  margin-bottom: 20px;
}

.dropdown {
  max-width: $dropdown-min-width;
  margin-right: 20px;
}

.buttonWrapper {
  align-self: flex-end;
  max-width: 100px;
}

.legend {
  margin-top: 25px;
}

.powerExplorerButton {
  width: 270px;
  margin-right: 40px;
}
