@import '~styles/settings.scss';
@import '~styles/layout.scss';

.bottomBarContainer {
  background-color: $midnightblue;
}

.bottomBar {
  @include row();

  display: block;
  text-align: right;
}

.bottomBarText {
  letter-spacing: 1px;
}
