@import '~styles/settings.scss';
@import '~styles/layout.scss';

.page {
  @include row();

  margin-top: $gutter-padding * 4;
}

$min-height: 450px;

.wrapper {
  border-bottom: solid 1px $border-color;
  min-height: 450px;
  padding-bottom: 50px;
}

.titleAndBtnsWrapper {
  @include columns(6);

  > * {
    @include xy-gutters($gutter-position: ('bottom'));
  }

  @media #{$tablet-landscape} {
    > *:last-child {
      @include column-offset(7.2, $gutters: true);
    }

    @include columns(2.2);
  }
}

.selectorsWrapper {
  @include columns(6);

  > * {
    @include xy-gutters($gutter-position: ('bottom'));
  }

  @media #{$tablet-landscape} {
    @include columns(2.2);
  }
}

.titleAndBtnsWrapper {
  @include xy-gutters($gutter-position: ('bottom'));

  margin-top: $gutter-padding * 2;
}

.selectorsWrapper {
  margin-bottom: 40px;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  margin-bottom: 10px;
}

.chartWrapper {
  position: relative;
  min-height: $min-height;
}

.loader {
  min-height: 450px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.noContent {
  min-height: $min-height;
}

.clearButton {
  color: $theme-color;
  border-bottom: 1px solid $action-color;
  vertical-align: bottom;
  font-size: 1em;
  cursor: pointer;
}

.buttonWrapper {
  align-self: flex-end;
  max-width: 100px;
}
