@import '~styles/ui-extends.scss';
@import '~styles/layout.scss';

$iconSize: 60px;
$borderSize: 4px;

.page {
  margin-bottom: 50px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  background-color: $link-water;
  border-bottom: 1px solid rgba($jakarta, 0.3);
  color: $downriver;
}

.title {
  padding: 30px;
  text-transform: uppercase;
  font-size: $font-size-large;
  font-weight: bold;
}

.cell {
  padding: 20px;
  color: $downriver;
  line-height: 1.5;
}

.statusColumn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  border-right: $borderSize solid $elephant-blue;
  position: relative;
}

.table {
  width: 100%;
  margin-bottom: 100px;
}

.row {
  display: flex;

  > * {
    flex: 0 1 33%;
  }

  &:first-child {
    margin-top: -1px;
  }
}

.statusIcon {
  height: $iconSize;
  width: $iconSize;
  position: absolute;
  right: calc(-1 * (#{$iconSize} / 2 + #{$borderSize} / 2)); // icon in the middle of the border
  z-index: 2;
  cursor: inherit;
}

.status {
  padding-right: 20px;
}

.description {
  margin-left: 50px;
  margin-top: 50px;

  p {
    margin-bottom: 5px;
  }

  a {
    text-decoration: underline;
  }
}

.name {
  font-weight: bold;
}